extends ../layouts/default

block intro
	.container
		h1 Contact Us
		
block content
	.container
		h2.text-center Contacta con nosotros
		.row.row-contact
			.col-lg-7.mx-auto
				if enquirySubmitted
					.alert.alert-success.alert-dismissible(role='alert')
						button.close(type='button', data-dismiss='alert', aria-label='Close')
							span(aria-hidden='true') ×
						b Enviado!
						|  El mensaje se ha enviado correctamente.
				else 
					form(method='post')
						input(type='hidden', name='action', value='contact')
						.form-group(class=validationErrors.email ? 'has-error' : null)
							label Email
							input(type='email', name='email', value=formData.email).form-control
						.row
							.col-lg-6
								.form-group(class=validationErrors.name ? 'has-error' : null)
									label Nombre
									input(type='text', name='name.full', value=formData['name.full']).form-control
							.col-lg-6
								.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
									label Por que razón nos contactas?
									select(name='enquiryType').form-control
										option(value='') Selecciona una opción
										each type in enquiryTypes
											option(value=type.value, selected=formData.enquiryType == type.value)= type.label
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label Mensaje
							textarea(name='message', placeholder='Escribe...' rows=4).form-control= formData.message
						button.btn.btn-primary.btn-lg.btn-rounded.btn-effect.btn-shadow.float-right(type='submit') Enviar
		
