extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		.post-header
			h2: a(href='/'+ post.categories[0].key +'/' + post.slug)= post.title
			.post-meta
				span
					i.fa.fa-clock-o
					|  #{post._.publishedDate.format('MMMM Do, YYYY')} 
					a(href="#")  #{post.author.name.first}
				span
					if post.categories && post.categories.length
						| en 
						each cat, i in post.categories
							a(href='/' + cat.key)= cat.name
							if i < post.categories.length - 1
								| , 
							else
								|
		.post-thumbnail
			img(src=post._.image.fit(750, 450) alt=post.title)
		p!= post.content.brief
			
block content
	section.hero(style="background-image: url('images/hero.jpg');")
		.overlay
		.container
			.hero-block
				h2.hero-title Diablo Immortal: El universo de Diablo en tu movil
				p
					| Mantente al día de las últimas noticias y guias del videojuego Diablo Immortal
	section.toolbar.toolbar-links(data-fixed="true")
		.container
			h5.m-r-30 Total artículos (#{data.posts.results.length})
			ul.toolbar-nav.hidden-sm-down
				each cat in data.categories
					li(class=filters.category === cat.key ? 'active' : false)
						a(href='/' + cat.key)= cat.name
				li(class=!filters.category ? 'active' : false)
					a(href="/") Reciente
	section.p-t-40.p-b-60
		.container
			.row
				.col-lg-8
					each post in data.posts.results
						+post(post)
				.col-lg-4
						.widget.widget-newsletter
							.widget-block(style="background-image: url('images/widget-newsletter.jpg')")
								.overlay
								form
									p Recibe notificaciones cada vez que subamos un nuevo artículo
									.form-group.input-icon-right
										input.form-control(type="email", placeholder="Email...")
									button.btn.btn-primary.btn-block(type="submit") Suscríbete
			.row
				if data.posts.totalPages > 1
					ul.pagination
						if data.posts.previous
							li: a(href='?pagina=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
						else
							li.disabled: a(href='?pagina=' + 1): span.glyphicon.glyphicon-chevron-left
						each p, i in data.posts.pages
							li(class=data.posts.currentPage == p ? 'active' : null)
								a(href='?pagina=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p))= p
						if data.posts.next
							li: a(href='?pagina=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
						else
							li.disabled: a(href='?pagina=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
