extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.post-page-item
		article
			p: a(href='/blog') &larr; back to the blog
			hr
			if !data.post
				h2 Invalid Post.
			else
				header
					h1= data.post.title
					h5 Publicado 
						if data.post.publishedDate
							| el #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
						if data.post.categories && data.post.categories.length
							| en 
							each cat, cat_i in data.post.categories
								a(href='/' + cat.key)= cat.name
								if cat_i < data.post.categories.length - 1
									| , 
								else
									|  
						if data.post.author
							| por #{data.post.author.name.first}
				.post
					if data.post.image.exists
						.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
					!= data.post.content.full
	script(type='application/ld+json').
		{
			"@context": "http://schema.org",
			"@type": "NewsArticle",
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "https://google.com/article"
			},
			"headline": "#{data.post.title}",
			"image": [
				"#{data.post._.image.fit(750,450)}"
			],
			"datePublished": "#{data.post._.publishedDate.format('MMMM Do, YYYY')}",
			"author": {
				"@type": "Person",
				"name": "#{data.post.author.name.first}"
			},
			"publisher": {
			"@type": "Organization",
			"name": "DiabloImmorta.es",
			"description": "#{data.post.content.brief}"
		}
